* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --authAlertBorder: 0;
    --authAlertTextColor: black;
    --authAlertInfoColor: rgb(153, 179, 179);
    --authAlertDangerColor: rgb(128, 109, 109);
    --authPageBackgroundColor: rgb(42, 61, 61);
    --inputGroupPadding: 5px 0;
}
#root .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar .navbar-brand {
    padding-left: 30px;
}
.navbar .me-auto.navbar-nav .nav-link{
    padding-left: 30px;
}
.navbar .navbar-collapse.collapsing {
    display: flex;
}
.navbar .navbar-collapse.collapse.show {
    display: flex;
}

.navbar .unreadMessages {
    top: -10px;
    left: -5px;
    position: relative;
}
.loginPage {
    background-color: var(--authPageBackgroundColor);
    padding-top: 10px;
    padding-bottom: 10px;
}

.registerPage {
    background-color: var(--authPageBackgroundColor);
    padding-top: 10px;
    padding-bottom: 10px;
}

.alert {
    margin-top: 5px;
}

.captcha {
    width: 0;
    transform: scale(1);
    margin-top: 10px;
}

.alert-heading { 
    text-align: center;
}

.loginPage .alert-info {
    border: var(--authAlertBorder);
    color: var(--authAlertBorder);
    background-color: var(--authAlertInfoColor);
}
.loginPage .alert-danger {
    border: var(--authAlertBorder);
    color: var(--authAlertBorder);
    background-color: var(--authAlertDangerColor);
}

.registerPage .alert-info {
    border: var(--authAlertBorder);
    color: var(--authAlertBorder);
    background-color: var(--authAlertInfoColor);
}
.registerPage .alert-danger {
    border: var(--authAlertBorder);
    color: var(--authAlertBorder);
    background-color: var(--authAlertDangerColor);
}

.loginPage .input-group {
    padding: var(--inputGroupPadding);
}
.registerPage .input-group {
    padding: var(--inputGroupPadding);
}

.alert-heading {
    font-size: 16px;
    font-family: 'Arial';
}

