* {
    margin: 0;
    padding: 0;
}
:root {
    --authAlertBorder: 0;
    --authAlertTextColor: black;
    --authAlertInfoColor: rgb(146, 143, 172);
    --authAlertDangerColor: rgb(230, 168, 168);
    --authPageBackgroundColor: rgb(37, 32, 32);
    --mapPageBackgroundColor: rgb(46, 45, 39);
    --inputGroupPadding: 5px 0;
}
.mapPageMapItem {
    color: white;
    text-align: center
}
.mainSection {
    
    background-color: rgb(34, 34, 34);
    color: #cfcfcf
}
span {
    color: white
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-label {
    display: block;
    text-align: center;
}
#root .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 140%;
}
#root .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    transition: bottom 0.3s ease;
}

.input-group .input-group-text {
    padding: 0;
    margin-bottom: 10px;
}
.form-control {
    margin-bottom: 10px;
}
option {
    background-color: #fff;
}
input {
    font-size: 130% !important;
    text-align: center;
}
button {
    font-size: 130% !important;
    margin-bottom: 10px !important;
}
textarea { 
    font-size: 130% !important;
    text-align: center;
}
.modal-dialog .modal-content {
    background-color: transparent;
    border: 0;
}
.form-label {
    margin-bottom: 0;
}

.loginPage {
    background-color: var(--authPageBackgroundColor);
    padding-top: 10px;
    padding-bottom: 10px;
}
.registerPage {
    background-color: var(--authPageBackgroundColor);
    padding-top: 10px;
    padding-bottom: 10px;
}
.mapPage {
    background-color: var(--mapPageBackgroundColor);
    padding-bottom: 10px;
}
.mapRulesDisclaimer {
    color: rgb(156, 156, 156);
}
.captcha {
    margin-top: 10px;
}
.alert {
    font-size: 150%;
    text-align: center;
    padding-bottom: 0;
    margin-top: 5px;
}
@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(200%);
    }
}

.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 10px;
    z-index: 1050; 
    pointer-events: none; 
}

.alert-container .alert {
    position: absolute;
    pointer-events: all; /* Allow interactions with the alerts */
    transition: opacity 1s, transform 1s; /* Smooth transition for immediate dismiss */
}

.alert.fade-out {
    animation: fadeOutDown 5s forwards;
}

.navbar .dropdown-menu {
    min-width: 0;
    text-align: center;
    font-size: 105%;
    background-color: rgb(199, 197, 197);
}

.navbar .navbar-brand {
    padding-left: 20px;
}
.navbar .me-auto.navbar-nav .nav-link{
    padding-left: 20px;
    padding-right: 0;
}
.navbar .navbar-collapse.collapsing {
    display: flex;
}
.navbar .navbar-collapse.collapse.show {
    display: flex;
}


.loginPage .alert-info {
    border: var(--authAlertBorder);
    color: var(--authAlertBorder);
    background-color: var(--authAlertInfoColor);
}
.loginPage .alert-danger {
    border: var(--authAlertBorder);
    color: var(--authAlertBorder);
    background-color: var(--authAlertDangerColor);
}

.registerPage .alert-info {
    border: var(--authAlertBorder);
    color: var(--authAlertBorder);
    background-color: var(--authAlertInfoColor);
}
.registerPage .alert-danger {
    border: var(--authAlertBorder);
    color: var(--authAlertBorder);
    background-color: var(--authAlertDangerColor);
}

.loginPage .input-group {
    padding: var(--inputGroupPadding);
}
.registerPage .input-group {
    padding: var(--inputGroupPadding);
}